<div class="mb-24 mat-card mat-elevation-z4" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start">

    <div class="mb-24 mat-card mat-elevation-z4" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start">
        <!-- REACTIVE FORM EXAMPLE -->

        <div fxLayout="column">
            <div class="h2 mb-24">Folio Order By Amount</div>
            <mat-spinner diameter="30" *ngIf="Globals.IsBusy"></mat-spinner>
            <div class="mb-24" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="flex-start">
                <ng-container *ngFor="let pie of Pies">
                    <mat-card [ngClass]="pie.Name == pieValue? 'purple': 'fuse-white-500'" class="mb-24"
                        fxFlex="0 1 calc(25% - 16px)" fxFlex.lt-sm="0 1 calc(50% - 16px)" (click)="selectFolio(pie)">
                        {{ pie.Name }}</mat-card>
                </ng-container>
            </div>


            <form class="" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" [formGroup]="folioForm">

                <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
                    <mat-form-field appearance="outline" fxFlex.lt-sm="90">
                        <mat-label>Amount</mat-label>
                        <input matInput formControlName="Amount" required />
                        <mat-error>Amount is required!</mat-error>
                    </mat-form-field>


                    <mat-checkbox formControlName="PriceWeighted">Use Price Weighted Strategy</mat-checkbox>

                </div>
                <div class="mb-24" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="flex-start">
                    <mat-card [ngClass]="orderSide == 'buy'? 'green-800': 'folio'" class="mb-24" fxFlex="20"
                        fxFlex.lt-sm="40" (click)="selectOrderSide('buy')">Buy</mat-card>
                    <mat-card [ngClass]="orderSide == 'sell'? 'pink': 'folio'" class="mb-24" fxFlex="20"
                        fxFlex.lt-sm="40" (click)="selectOrderSide('sell')">Sell</mat-card>
                </div>

                <div>
                    <button class="warn mat-raised-button" mat-raised-button="" (click)="placeFolioOrder()"
                        [disabled]="Globals.IsBusy">
                        <span class="mat-button-wrapper"> Place Order </span>
                    </button>
                </div>
            </form>
        </div>


        <div fxLayout="column" fxLayoutGap="8px">

            <div *ngIf="dataSource">



                <mat-table #table [dataSource]="dataSource">
                    <!-- Name Column -->

                    <ng-container matColumnDef="Result">
                        <mat-header-cell *matHeaderCellDef>Message</mat-header-cell>
                        <mat-cell *matCellDef="let order">
                            <p class="text-truncate font-weight-600">{{ order.Result }}</p>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="['Result']"></mat-header-row>
                    <mat-row *matRowDef="let order; columns: ['Result']"></mat-row>
                </mat-table>
            </div>

            <!-- <div *ngIf="PieDetails">
                <p-table [value]="PieDetails">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Symbol</th>
                            <th>Weight</th>
                            <th>Last Price</th>
                            <th>% Change</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-pie>
                        <tr [ngClass]="pie.Quote.pct_change >0? 'green-900': 'red-900'">
                            <td>
                                {{pie.Symbol}}

                            </td>
                            <td>
                                {{pie.Weight}}

                            </td>
                            <td style="text-align: right;">
                                ${{pie.Quote.last_trade_price}}

                            </td>
                            <td>
                                {{pie.Quote.pct_change}}%

                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer" let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns">
                                {{col.header}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div> -->
        </div>

    </div>

    <div fxFlex="1 0 auto" *ngIf="PieDetails">
        <ag-grid-angular style="width: auto; height: 800px;" class="ag-theme-alpine" [rowData]="PieDetails"
            [columnDefs]="columnDefs" [rowClassRules]="rowClassRules" [defaultColDef]="defaultColDef"
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>



</div>