<div>
    <form fxLayout="column" fxFlex="1 0 auto" [formGroup]="loginForm">
        <mat-form-field appearance="outline" fxFlex="100" *ngIf="!showMFA">
            <mat-label>Robinhood Username</mat-label>
            <input matInput formControlName="userName" required />
            <mat-error>UserName is required!</mat-error>
        </mat-form-field>



        <mat-form-field appearance="outline" fxFlex="100" *ngIf="!showMFA">
            <mat-label>Robinhood Password</mat-label>
            <input matInput formControlName="passWord" required type="password" />
            <mat-error>PassWord is required!</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" fxFlex="100" *ngIf="showMFA">
            <mat-label>MFA Token</mat-label>
            <input matInput formControlName="mfaToken" />
        </mat-form-field>

        <div>

            <button class="warn mat-raised-button" mat-raised-button="" type="submit" (click)="login()">
                Authenticate
            </button>
        </div>

    </form>
</div>
<!-- <div class="p-24">
    <div class="mb-16 red-900-fg">
        Make sure 2 factor authentication with SMS is enabled for your Robinhood Account as in the screeshot below.
    </div>
    <img src="assets/images/2factor.jpg" style="width: 40%; height: 40%;">
</div> -->