<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <app-header></app-header>

    <!-- CONTENT -->
    <div class="content p-24">

        <app-login *ngIf="!apiService.isRHAuthenticated"></app-login>
        <mat-tab-group>
            <mat-tab label="Pie Order" *ngIf="apiService.isRHAuthenticated">
                <app-folio></app-folio>
            </mat-tab>
            <mat-tab label="Single Order" *ngIf="apiService.isRHAuthenticated">
                <app-order [OrderTo]="'RH'"></app-order>
            </mat-tab>
        </mat-tab-group>











        <!-- / CONTENT -->
    </div>